html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: League Spartan, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: League Spartan, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #190D37;
}

.bigText {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #331E6A;
}

#hero-section {
    display: flex;
    width: 80%;
    max-width: 1060px;
    margin: 0 auto;
}

#hero-text { 
    width: 50%;
    margin: 0 auto;
    padding: 32px 20px 32px 20px;
}

#email-phone {
    width: 50%;
    font-size: 0.70em;
    display: flex;
}

#hero-image-wrapper {
    width: 50%;
}

#hero-image {
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.smalltext {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
}

#hi-name {
    margin-top: 5px;
}

#contact-button {
    height: 44px;
    width: 138px;
    border-radius: 4px;
    background-color: #2F2F2F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 20px;
}

#contact-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

#what-I-do-section {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

#what-I-do-section h3 {
    color: #332d2dff;
}

#skills-section {
    /* display: flex;
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    */

    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative; /* IMPORTANT */
    padding: 3rem 0;
}

.skills {
    /* width: 33.33%;
    padding: 14px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background-color: #d8e7d8ff; */

    background: #fff;
    border: 2px solid #ddd;
    padding: 1rem;
    width: 250px;
    z-index: 10; /* keeps cards above blobs */
    position: relative;
}

/* .blob-red {
  position: relative;
  width: 250px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}
.blob-blue {
  position: relative;
  width: 250px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
} */

#pricing-section {
    max-width: 1060px;
    margin: 49px auto 49px auto;
}

.overtitle {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
    margin-bottom: 8px;
}

.section-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.section-subtitle {
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 700px;
}

#pricing-boxes {
    display: flex;
}

.pricing-box {
    width: 33.33%
}

.pricing-cards {
    background-color: #FFFFFF;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}

.service {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    color: #2858FF;
}

.pricing {
    font-family: Poppins;
    font-size: 36px;
    margin-top: 8px;
    font-weight: 700;
    line-height: 54px;
    color: #000000;
}

.pricing-per-page {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8A8A8A;
}

.service-description {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8B8B8B;
    margin-top: 8px;
}

.check-box {
    font-size: 10px;
}
.service-benefits {
    padding: 0;
    list-style-type: none;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

#service-benefits li {
    margin-bottom: 8px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.servive-contact-button {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 2px solid #2F2F2F;
    background-color: #ffffff;

    color: #2F2F2F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.servive-contact-button:hover {
    background-color: #2F2F2F;
    color: #ffffff;
    cursor: pointer;
}

.pricing-cards.card-2 {
    background-color: #FFD748;
}

.card-2 .service{
    color: #000000;
}

.card-2 li {
    color: #000000BF;
}

.card-2 .service-description {
    color: #00000080;
}

.card-2 .pricing-per-page {
    color: #00000080;
}

.card-2 .servive-contact-button {
    background-color: #2F2F2F;
    color: #ffffff;
}

.card-2 .servive-contact-button:hover {
    background-color: #FFFFFF;
    color: #2F2F2F;
}

#footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    margin-top: 48px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}