html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: League Spartan, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
}

h2 {
    font-family: League Spartan, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #190D37;
}

.bigText {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #331E6A;
}

#hero-section {
    display: flex;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

#hero-text { 
    width: 50%;
    margin: 0 auto;
    padding: 32px 20px 32px 20px;
}

#email-phone {
    width: 50%;
    font-size: 0.70em;
    display: flex;
}

#hero-image-wrapper {
    width: 50%;
}

#hero-image {
    width: 100%;
}

.smalltext {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
}