html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: League Spartan, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    font-family: League Spartan, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #190D37;
}

.bigText {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #331E6A;
}

#hero-section {
    display: flex;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

#hero-text { 
    width: 50%;
    margin: 0 auto;
    padding: 32px 20px 32px 20px;
}

#email-phone {
    width: 50%;
    font-size: 0.70em;
    display: flex;
}

#hero-image-wrapper {
    width: 50%;
}

#hero-image {
    width: 100%;
}

.smalltext {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
}

#hi-name {
    margin-top: 35px;
}

#contact-button {
    height: 44px;
    width: 138px;
    border-radius: 4px;
    background-color: #2F2F2F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 20px;
}

#what-I-do-section {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

#what-I-do-section h3 {
    color: #332d2dff;
}

#skills-section {
    /* display: flex;
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    */

    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative; /* IMPORTANT */
    padding: 3rem 0;
}

.skills {
    /* width: 33.33%;
    padding: 14px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    background-color: #d8e7d8ff; */

    background: #fff;
    border: 2px solid #ddd;
    padding: 1rem;
    width: 250px;
    z-index: 10; /* keeps cards above blobs */
    position: relative;
}

/* .blob-red {
  position: relative;
  width: 250px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}
.blob-blue {
  position: relative;
  width: 250px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
} */