html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
}

h1 {
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
}

h2 {
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #190D37;
}

.bigText {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #331E6A;
}