body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#navbar {
    padding: 8px;
    padding-bottom: 5px;
    margin: 0;
}

h1 {
    text-align: center;
}

#banner {
    width: 100%;
    height: 200px;
    object-fit: cover; // To ensure the image doesn't stretch
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    width: 50%;
    padding-right: 8px;
}

#image {
    width: 50%;
}

#image-id {
    border-radius: 5px;
    width: 100%;
}

.tech-stack {
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

#projects {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

h3 {
    margin-bottom: 5px;
}

.apply {
    float: right;
    padding-right: 8px;
}

#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    /* display: flex; */
    list-style: none; // removed the bullets
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: gray;
}